noscript {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #dd5205;
    background: #1e1e1e;
    /* try all Apple fonts */
    font-family: "SF Pro", "SF Pro Text", "SF Pro Display", Arial, sans-serif; 
    padding-bottom: 10vh;
    box-sizing: border-box;
    margin: 0;
}

noscript > * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}